  @import url('https://fonts.googleapis.com/css?family=Permanent+Marker: 100,200,300,400,500,600,700,800');

  /*----------------------------------------------------------Colors */

  .h1.display-2 {
    padding: 0;
   
  }


  p {
    text-align: center;
    font-size: 29px;

  }



  html,
  body {
    background-color: #F0E5F3;
    font-family: Permanent Marker;
    position: relative;

  }

  /* -----------------------------------------------Main section styling */

  #boys {
    padding-top: 25px;
  }

  #store {
    padding-top: 20px;
  }

  #contact {
    padding-top: 25px;
  }


  /* I set padding and margin for container-fluid class to 0; to remove overflow, unfortunately it didn't completely resolve the issue */

  .container-fluid {
    padding: 0;
    margin: 0;
    text-align: justify;
  }


  div.container-fluid.card {
    padding: 0;
    margin: 0;
  }


  /*----------------------------------------------------------Navbar  */

  img.navbar-brand {
    padding: 0;
    margin: 0;
    width: 30%;
    height: 50%;
  }

  .bg-dark {
    background-color: #5c5a54;
  }

  .navbar {
    opacity: 0.9;
    position: fixed;
    padding: 0;
    height: 50px;
  }


  .nav {
    padding: 0;
    margin: 0;
  }


  .navbar-toggler-icon {
    color: #f00;
  }

  a {
    font-size: 24px;
    color: #f00!important;

  }

 

  /* ---------------------------------------------------Carousel */

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  #photoCarousel {
    margin: 0;
    padding: 0;
  }

  .carousel-item {
    position: relative;
    margin-right: -100%;
    width: 100%;
  }

  .carousel-caption {
    text-alighn: center;
    color: #f00;
    font-weight: 900;
    padding-bottom: 100px;
    margin-bottom: 30px;

  }



  /* ---------------------------------------------------Boys page */

  .card-img-top {
    background-color: #F0E5F3;
    height: 100%;
    margin-top: 0;
   box-shadow: 10px 10px 5px black;

  }

  .card {
    background-color: #F0E5F3;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 28px;
    color: #473708;
    
   
  }
  
 
  
  

  h4.card.title {
    font: bold;
  }

  .card-text {
    font-size: 20px;
  }

  .card-body {
    text-align: center;
  }

  #boys {
    background-color: #F0E5F3;
  }

  .welcomeheading {
    color: #000000;
    text-transform: uppercase;
    font-family: Permanent Marker;
    text-align: center;
    font-size: 30px;
    margin-bottom: 2rem;

  }

 
  /* ---------------------------------------------------Video */

  /* I've copied this code from w3schools.com  */

  .videoFrame {
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0;
  }

  .videoFrame iframe {
    margin: 0 auto;
    display: block;
    border: 0;
  }

  .videoSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .videoName {
    margin: 3rem;

  }


  /*Audio */

  .container-fluid .audio {
    display: inline-block;
  }

  .audio-file {
    text-align: center;
    margin: 30px;
    color: #6d5e35;
    box-sizing: border-box;
    width: 100%;

  }

  /* I've taken this code from stackoverflow.com */

  .audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    display: inline-block;
    margin-bottom: 55px;
    padding: 20px;

  }


  .container {
    border-radius: 5px;
    background-color: #F0E5F3;
    width: 100%;
  }

  .title {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;

  }

  .music {
    box-sizing: border-box;
    width: 100%;
  }

  .song-list {
    margin: 2rem;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }

  /* I added box-shadow effect to song-artwork,which is image to stand out and not to look so flat */

  .song-artwork {
    box-shadow: 10px 10px 5px grey;
    padding: 40px;
    margin-bottom: 20px;
  }

  /* ---------------------------------------------------Form/Contact */
  
  .form {
    padding-left: 40px;
    padding-top: 3rem;
    
  }
  
.reachout {
  padding-top: 9rem;
  
}
  


  input[type=text],
  select,
  textarea {
    width: 100%;
    padding:12px;
    border: 1px solid #f00;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  /* This is a styling for the "send" button, similar to social link,to keep the consistent look  */

  input[type=submit] {
    background-color: #f00;
    color:  rgba(0,0,0,0.8);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color:   #C0C0C0 ;
  }

  .contactHeading {
    margin: 2rem;
    margin-bottom: 2rem;
    padding: 0;
  }

  /* ---------------------------------------------------Store  */

  .btn {
    color: #9B59B6;
    background-color: #f00;
    border: hidden;


  }

  .btn:hover {
    background-color: #C0C0C0;

  }

  .btn-primary {
    color: #090b7a;
  }

  .storeHeading {
    margin: 2rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 40px;
  }

  /* Code here is copied from Code Institute material, when I was thought how to style social links,
since then I've noticed it is quite populas way of presenting social links on websites */

  .shopping i {
    font-size: 26px;
    color: #090b7a;
    text-align: center;
    padding-left: 5px;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
  }

  .shopping i:hover {
    color: #C0C0C0;
  }

  .btn-primary {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    border-color: #fffd00;
  }

  /* Hero image from Bootstrap code was fun way of adding some simple yet funtional code. I've copied the code from w3schools.com */

  .hero-image {
    background: url("../images/merch.jpeg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #edf2f2;
  }

  /* ---------------------------------------------------Footer */

  /* Code here is copied from Code Institute material, when I was thought how to style social links,
since then I've noticed it is quite populas way of presenting social links on websites */

  .social-links li a i {
    width: 70px;
    height: 70px;
    padding: 30px 0;
    border-radius: 100%;
    font-size: 34px;
    line-height: 4px;
    text-align: center;
    color: rgba(0,0,0,0.8);
    background: #f00;
    transition: 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }

  .social-links li a i:hover {
    background: #C0C0C0;

  }


  .social {
    padding-bottom: 40px;
    padding-top: 45px;
    margin-top: 50px;
  }

 
 